body {
    font-family: "Nunito Sans", sans-serif;
    background-color: rgba(248, 252, 254, 0.932);
}

header {
    background: url('../images/finance6.jpg');
    /* background-image: linear-gradient(to right,#0F579B, #fff); */
    background-size: cover;
    height: 80vh;
    position: relative;
    overflow: hidden;
    text-align: center;
}

header h2 {
    max-width: none;
    font-size: 20px;
    color: white;
}

.hello {
    zoom: 200%;
    transition: zoom 1s ease-in-out;
}

header h1 {
    font-size: 60px;
}

.navbar {
    overflow: hidden;
    /* opacity: 0.5; */
    background: rgba(0, 0, 0, 0.2);
    z-index: 20;
    /* background-color: rgb(6, 50, 92); */
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin-right: 4%;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    background: rgb(15, 87, 155);
    color: white;
}

.text {
    margin-top: 230px;
    margin-left: -20%;
}

h1 {
    font-size: 50px;
    /* font-weight: bold; */
    color: white;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    color: white;
}

.second-text {
    margin-top: 230px;
}

.column {
    float: left;
    width: 33.33%;
    /* padding: 20px; */
}

.work-row {
    margin-left: 10%;
    height: 60%;
    margin-bottom: 5%;
}

.about-cards {
    margin-left: 15%;
}

.about-cards:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

.work-row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

.work {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(15, 87, 155);
    text-transform: uppercase;
    margin-top: 5%;
}

.work-description {
    color: #2196F3;
    font-size: 14px;
    max-width: 60%;
    margin-top: -10%;
    text-align: center;
    margin-left: 5%;
}

#about {
    float: left;
    width: 50%;
    padding: 50px;
}

/* .aboutus-row{
    margin-left: 12%;
} */

.aboutus-row:after {
    margin-left: 80%;
    content: "";
    display: table;
    clear: both;
    align-content: center;
}

/* .work-column:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

} */

.centum {
    width: 70%;
}

.aboutus-description {
    color: rgb(15, 87, 155);
    font-size: 15px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.about-info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

/* .about-info:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */

.container {
    height: 210px;
    padding: 2px 16px;
}

.container h4 {
    margin-left: 3.5%;
    line-height: 15px;
    color: rgb(15, 87, 155);
    margin-bottom: 40px;
    /* text-align: center; */
    text-transform: uppercase;
}

.container p {
    color: rgb(15, 87, 155);
    max-width: 15%;
    font-size: 15px;
    text-align: center;
}

.footer {
    /* position: fixed; */
    left: 0;
    height: 40%;
    padding-top: 3%;
    padding-bottom: 3%;
    bottom: 0;
    width: 100%;
    background-color: #2196F3;
    color: white;
    text-align: center;
}

hr {
    display: none;
    width: 80%;
}

.footer h2 {
    font-size: 15px;
    /* position: absolute; */
    width: 100%;
    height: 30px;
    text-align: center;
    bottom: 0;
}

.footer h4 {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer h3 {
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
}

.footer-row {
    margin-top: 3%;
    margin-left: 18%;
}

.footer-row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

/* Full-width input fields */

input[type=text], input[type=password], textarea[type=text] {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    box-shadow: none;
    background: #2196F3;
    margin-left: 1%;
    /* background:  rgb(15, 87, 155); */
}

label {
    color: white;
    margin-left: 3%;
}

::placeholder {
    color: white;
}

input[type=text]:focus, input[type=password]:focus, textarea[type=text]:focus {
    background: #2196F3;
    /* outline: 1px solid rgb(15, 87, 155);; */
    color: white;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */

button {
    background-color: #05207F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 50%; */
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

.connectbtn {
    float: center;
    width: 18%;
    font-size: 14px;
    margin-top: 2%;
    background-color: white;
    color: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 5px;
    /* margin-left: 5%; */
}

.connectbtn:hover {
    background-color: rgba(255, 255, 255, 0.699);
    transform: scale(1.07, 1.07);
}

.container {
    padding: 16px;
    margin-left: 20%;
}

/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

form h1 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
}

form {
    margin-top: 1%;
    width: 40%;
    color: rgb(15, 87, 155);
}

.parallax-content {
    color: #fff;
    display: table;
    width: 100%;
    height: 470px;
    margin-top: 10%;
    /* margin-bottom: 10%; */
}

.parallax-content .sub_content h3, .parallax-content .sub_content {
    font-weight: bold;
    font-size: 60px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.parallax-content p {
    font-size: 40px;
}

.parallax-content .sub_content {
    display: table-cell;
    padding: 0 15%;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
}

.parallax-content .sub_content i {
    font-size: 60px;
}

.parallax-content .sub_content h3, .parallax-content .sub_content i {
    font-size: 60px;
}

.parallax-window {
    background-image: url('../images/finance5.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#count {
    background-color: rgba(0, 0, 0, .25);
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    padding: 15px 0;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, .15);
    height: 8%;
}

#count ul {
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#count .number {
    width: auto;
    display: inline-block;
    margin-right: 5px;
    font-weight: 600;
    text-align: right;
    font-size: 24px;
}

#count ul li {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    padding-left: 20px;
    /* background: url(../images/dots_vert.png) center left no-repeat; */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards-list h4 {
    font-size: 20px;
    color: #2196F3;
}

.cards-list p {
    font-size: 14px;
    color: #2196F3;
    font-weight: lighter;
    margin-top: 5%;
}

.card {
    margin: 30px auto;
    padding: 10px 10px 10px 10px;
    width: 290px;
    height: 300px;
    border-radius: 40px;
    box-shadow: -9px 10px 21px #8098D53D;
    /* box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.089), -5px -5px 30px 7px rgba(0,0,0,0.22); */
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -250px;
    height: 40px;
}

.work-column:hover {
    transform: scale(1.07, 1.07);
    border-radius: 10%;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 2px 2px 20px 10px rgba(189, 189, 189, 0.25), 2px 2px 20px 10px rgba(189, 189, 189, 0.25);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.social-icons {
    width: 5%;
    margin-left: 10px;
}